{% extends 'base.html' %}
{% load mptt_tags %}
{% load guardian_tags %}
{% load static %}

{% block title %}My folders{% endblock %}
{% block content %}
    <h1>My Folders</h1>
    <div class="module">
        <ul>
            {% recursetree folders %}
                {% get_obj_perms request.user for node as "treeitem_perms" %}

                        {% if "view_treeitem" in treeitem_perms %}
                              <li>
                              {% if node.content_type.name == 'document'%}
                                    <img src="{% static 'img/doc.png' %}" />
                                    {{ node.content_object }}
                            <a href="#
    {#                            {% url "document_open"  node.id %}#}
    "                       >
                                {% if "change_treeitem" in treeitem_perms %}
                                    Edit doc(Role Editor)
                                {% endif %}
                                 {% if "delete_treeitem" in treeitem_perms %}
                                    View doc(Role Viewer)
                                {% endif %}
                            </a>
                        {% else %}
                          <img src="{% static 'img/folder.png' %}" />
                             {{ node.content_object }}
                            <a href="{% url "document_create"  node.id %}">Create document</a>
                        {% endif %}
                              </br>
                            {% if not node.is_leaf_node %}
                                <ul>
                                    {{ children }}
                                </ul>
                            {% endif %}
                            </li>
                    {% endif %}
            {% endrecursetree %}
        </ul>

{#        {% for folder in folders %}#}
{#            <div class="course-info">#}
{#                <h3>{{ folder.title }}#}
{#                    <p>#}
{#                        <a href="{% url "course_edit"  folder.id %}">Edit</a>#}
{#                        <a href="{% url "course_delete"  folder.id %}">Delete</a>#}
{#                        <a href="{% url "course_module_update" folder.id %}">Edit modules</a>#}
{##}
{#                        {% if course.modules.count > 0 %}#}
{#                            <a href="{% url "module_content_list" folder.modules.first.id %}">Manage contents</a>#}
{#                        {% endif %}#}
{#                    </p>#}
{#                </h3>#}
{#            </div>#}
{#            {% empty %}#}
{#                <p>You haven't created any courses yet.</p>#}
{#        {% endfor %}#}
        <p>
            <a href="{% url "folder_create" %}" class="button">Create new Folder</a>
        </p>
    </div>
{% endblock %}