{% extends "base.html" %}

{% block title %}
    {% if object %}
        Edit Document "{{ object.title }}"
    {% else %}
        Create a new Document
    {% endif %}
{% endblock %}
{% block content %}
    <h1>
        {% if object %}
            Edit Document "{{ object.title }}"
        {% else %}
            Create a new Document
        {% endif %}
    </h1>
    <div class="module">
        <h2>Document info</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Save Folder"></p>
        </form>
    </div>
{% endblock %}